*:focus {
    outline: none;
}

* {
	font-family: 'Spartan', sans-serif;
    outline: none;
}

.main-highlight-brown a {
    color: #40251A !important;
    font-weight: 600 !important;
    font-size: 15px !important;
}

.menu-item a.main-highlight-brown:hover {
    color: #fff;
}

.filter-trigger {
    background: #FF8100;
    border-radius: 50px;
    border: none;
    color: #fff;
    padding: 10px;
    background: #FF8100;
    border-radius: 50px;
    border: none;
    color: #fff;
    padding: 18px 70px;
    /* top: 5px; */
    right: 5px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    /* min-height: 85%; */
    /* height: auto; */
    font-family: 'Open Sans';


    position: relative;
    width: auto;
    margin: 0 auto;
    display: block;
}

.pointer { cursor: pointer; }
.navbar-toggler { display: none; }
.return-link { font-weight: bold; margin-bottom: 10px; display: block; color: #777; }
a:hover, a:focus {
    color: #FF8100;
}

.h1, h1 {
    font-size: 35px;
}

.verified {
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 0px;
    margin-bottom: 0px;
    margin-top: 15px;
    color: #13b713;
    width: 100%;
    text-align: right;
}

ul.pagination {
    display: inline-flex;
    margin-top: 50px;
}

.menu-item a span { font-family: 'Open Sans', sans-serif; }
.text-left { text-align: left !important }
.hidden { display: none; }
.uppercase { text-transform: uppercase; }

img { max-width: 100%; }

header { margin-bottom: 10px; }

.main-content-wrapper {
    max-width: 1080px;
    margin: 100px auto;
}

.no-border { border: none !important; }
.limiter { max-width: 1360px; margin: auto; padding: 0px 25px;}
.invisible { visibility: 0; }
.relative-wrapper { position: relative; height: 100%;}
.absolute-top { position: absolute; top: 0; }
.absolute-bottom { position: absolute; bottom: 0; }
.inline-block { display: inline-block; }
.full-width { width: 100%; }

b, strong { font-weight: 600; }
.info-label { font-weight: 600; text-transform: uppercase; }
.info-content { line-height: 30px; }
.underline-highlight {
	font-weight: bolder;
	margin-bottom: 50px;
}

.underlined { text-decoration: underline !important; }

#topMainNav{
	background-color:#f8f8f8;
	box-shadow: 0px 0px 20px #ddd;
}

#operator-logo {
    max-height: 130px;
}

#operator_name { font-weight: bolder; margin-bottom: 15px; }
#main-menu-nav {
	float: right;
	padding: 0px;
}

.navContentHolder{max-width:1360px;margin:auto;height:100px;}

#logoHolder{float:left;clear:both;position:relative;line-height:100px;}
#logoHolder a{display:block;}
#logoHolder a span{height:75px;vertical-align:-webkit-baseline-middle;display:inline-block;vertical-align:middle;}
#logoHolder a span img{display:block;height:inherit;min-height:20px;max-width:none;width:auto;transition:margin 0.3s, opacity 0.3s;}

#searchTrigger, #searchReset{cursor:pointer;}

.menu-item{float:left;font-weight:400;display:block;position:relative;text-align:left;}
.menu-item a:hover{ background: transparent; color: #FF8100 !important; }
.menu-item a.active{ color:#d5a44f; font-weight: bold; }

.menu-item a {
    padding: 0 20px;
    font-size: 19px;
    color: inherit;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition-property: background-color, box-shadow, border, color, opacity;
    transition-duration: 0.3s;
    color: #46403c;
    padding: 0 15px;
}

ul#mainNavMenu{float:right;display:table;content:'';line-height:100px; margin-bottom: 0px; padding-left: 0px;}
ul.sub-menu {
    position: absolute;
    padding: 0px;
    z-index: 99;
    background-color: #fff;
    visibility: hidden;
}

.menu-item:hover ul.sub-menu { visibility: visible !important; }

ul.sub-menu li { line-height: 30px; width: 100%; text-align: center; box-shadow: 0px 0px 2px #eee; }
ul.sub-menu li a  { padding: 10px; font-size: 15px; }

.award-icon-instance, .review-icon-instance { display: inline-block; margin-right: 100px; }

#operator-main-info { margin-top: 80px; }
#operator-basic-info .row { margin-bottom: 25px; }
#operator-basic-info, #awards-holder, #reviews-holder { margin-top: 100px; }
.border-highlight {
	background: #FF9000;
    width: 60px;
    margin-top: 5px;
    padding: 3px;
}

#operator-social-media { margin-top: 10px; }
#operator-social-media a {
	color: #FF9000;
	margin-right: 10px;
}

#african_countries h6 { font-size: 14px; font-weight: 600; margin-bottom: 20px; }

footer { margin-top: 100px; padding-bottom: 40px; }

footer ul { padding-left: 0px; }
footer li { list-style: none; margin-bottom: 8px; font-size: 13px; }
.country-list-wrapper li { list-style: none; }

#african_countries h5 { font-weight: bolder; margin-bottom: 15px; margin-top: 20px; }
#footer-menu img { width: 80%; margin-bottom: 25px; }
#footer-menu a { color: #000; }














/* ---------------------------------- HOME PAGE ---------------------------------- */


#hero-search-wrapper {
	background: url("/assets/hero-bg.png");
	background-size: cover !important;
	background-position: middle;

	color: #fff;
	padding: 100px;
}

#hero-search-wrapper h1 { font-weight: bolder; }

.chosen-container .chosen-results li { text-align: left; }

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    font-family: 'Spartan', sans-serif !important;
}

#search-format-switcher-wrapper { margin-top: 50px; text-align: left; }
#home-search-wrapper { max-width: 780px; width: 100%; position: relative; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top: 12px !important;
    right: 6px !important;
}

.chosen-choices {
    padding: 15px 30px !important;
    border-radius: 30px !important;
}

.chosen-choices {
    padding: 10px 15px 10px 35px !important;
    min-height: 65px !important;
    width: 75% !important;
    float: left;
    border: none !important;
    background: transparent;
    background-image: none !important;
    box-shadow: none !important;
}

.search-choice {
    padding: 12px 25px 10px 15px !important;
    margin-right: 5px !important;
    border-radius: 15px !important;
}

.chosen-container {
    max-width: 780px;
    background: #fff;
    border-radius: 50px;
    width: 100%;
}

.chosen-search-input {
    padding: 20px 10px !important;
}

.country-search-instance {
    background: #FF8100;
    border-radius: 50px;
    border: none;
    color: #fff;
    position: absolute;
    padding: 18px 70px;
    top: 5px;
    right: 5px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    min-height: 85%;
    height: auto;
    font-family: 'Open Sans';
}

#country-search-wrapper, #company-search-wrapper { position: relative; width: 100%; }

.switcher-instance {
    font-weight: 600;
    font-size: 12px;
    padding: 7px 25px;
    margin-bottom: 15px;
    cursor: pointer;
}

.tour_countries {
    margin-top: 5px;
    display:inline-block;
}

.active-switch {
    background: #000;
    border-radius: 15px;
}

#gps-filler {
    position: absolute;
    z-index: 1;
    color: #ccc;
    left: 20px;
    top: 22px;
}

.website-link {
    color: #333;
}

.website-link.card-instance:hover {
    color: #333 !important;
}

.website-link.card-instance:hover .card-content-wrapper {
    box-shadow: 0px 0px 10px #aaa;
    text-decoration: none !important;
}

.website-link.card-instance:hover .card-content-wrapper * {
    text-decoration: none !important;
}

#company-name-search {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    border: none;
    height: 65px;
    font-size: 13px;
}

.card-content-wrapper {
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 10px;
    height: 430px;
    margin-bottom: 15px;
    position: relative;
}

.card-header {
    height: 170px;
    background-size: cover !important;
    background-position: center;
    padding: 15px !important;
}

.card-logo {
    background: #fff;
    padding: 10px;
    width: 75px;
    height: 75px;
    white-space: nowrap;
    position: relative;
}

.card-logo .helper {
    display: inline-block;
    height: 100%;   
    vertical-align: middle;
}

.card-logo img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 55px;
    max-height: 55px;
}

.operator-name {
    font-weight: 600 !important;
    font-size: 12px;
    text-transform: uppercase;
}

.verified-tag {
    width: 20px;
    height: 20px;
    background: #05c505;
    border-radius: 50%;
    padding: 3px 4px;
    color: #fff;
    font-size: 11px;
    float: right;
}

.card-footer {
    font-size: 9px;
    color: #BABABA;
    background: #fff;
    font-weight: 600;
    border-top: none;
    position: absolute;
    width: 100%;
    bottom: 13px;
}

.operator-excerpt { font-size: 12px; margin-top: 10px; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FF8100;
}

#filter-wrapper * {
    font-family: 'Open Sans';
}

.filter-label-instance {
    font-size: 12px;
}

#filter-expand-head { display: none; }

#reset-filter {
    font-size: 12px;
    font-weight: 600;
    color: #999;
}

#filter-header { font-weight: 600 !important; color: #48281C; }

/* ---------------------------------- HOME PAGE ---------------------------------- */


.page-link { color: #333; border: none; }

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background: #FF8100;
    border-radius: 5px;
    border: none;
    /* color: #fff; */
    padding: 10px 15px;
}









































/*
Theme Name:     divi child
Description:    
Author:         earl@brandedafrica.com
Template:       Divi

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/


#sticky-footer {
    position: fixed;
    bottom: 15px;
    width: 100%;
    left: 0;
    z-index: 9;
    text-align: center;
}

#sticky-footer-content {
    width: 45%;
    text-align: center;
    background: #fff;
    margin: auto;
    box-shadow: 0px 0px 25px #ccc;
    border-radius: 5px;
    background:url('/assets/bannerbg.jpg');
    background-size: cover;
}

#text-content-wrapper {
    width: 100%;
    padding: 25px;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    position: relative;
}

#button-content-wrapper {
    width: 20%;
    padding: 25px;
    display: inline-block;
    text-align: center;
    position: relative;
    height: 100%;
}

#button-content-wrapper a {
    margin: auto;
    width: fit-content;
    right: 0;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 25px;
}

span.orange-highlight {
    color: #f28d11!important;
}

#sitcky-closer {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #212529;
    color: #fff;
    padding: 3px 8px;
    border-radius: 50%;
    cursor: pointer;
}

#sitcky-closer * { color: #fff; }









a.orange-button {
    font-size: 13px;
    background: #f89224;
    border-color: #f89224;
    border-radius: 25px;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 2px 18px 0px rgb(0 0 0 / 30%);
    transition: all 300ms ease 0ms; 
}


@media (min-width: 900px ) {
    #custom_travel_101 {
        transform: scaleX(1.25) scaleY(1.25) translateX(427px) translateY(115px) !important;
    }
    #sustainable_travel {
        min-height: 800px;
        transform: scaleX(0.9) scaleY(0.9) translateY(0px) !important;
    }
    #custom_travel_101 h2 {
        font-size: 2em;
    }
}

@media (max-width: 480px ) {

    #logoHolder a span img {
        height: 45px;
        margin-top: 15px;
    }

    #footer-menu .for_default {
        height: 45px;
        width: auto;
    }

    #sticky-footer-content {
        width: 100%;
        padding: 0px;
        border-radius: 0px;
    }

    #text-content-wrapper {
        width: 100%;
        padding: 15px 25px 15px;
    }

    #button-content-wrapper {
        margin-bottom: 10px;
    }

    #button-content-wrapper {
        display: none;
    }

    #sticky-footer {
        bottom: 0px;
    }
}

@media (min-width: 1670px ) {
    #button-content-wrapper {
        padding: 15px 25px;
    }
}