/* Portrait */
@media only screen 
  and (max-device-width: 480px)
  and (orientation: portrait) {
    .navbar-toggler { display: block; }
    .mobile-hide { display: none; }
    #hero-search-wrapper { padding: 25px; }
    #hero-search-wrapper h1 { font-size: 1.8rem; }
    #gps-filler { display: none; }

    .country-search-instance { position: relative; }
    .card-content-wrapper { height: 380px; }

    #company-name-search { margin-bottom: 20px; }

    #operator-main-info { margin-top: 0px; }
    .main-content-wrapper { margin-top: 0px; }

    .mobile-relative { position: relative; }
    .invisible { display: none; }
    .navbar-toggler {
        position: absolute;
        right: 10px;
        top: 35px;
    }

    #filter-content-holder { margin-top: 35px; margin-bottom: 25px; }
    #operator-hero-image { margin-top: 25px; }

    .navContentHolder { padding: 0px 15px; }

    #main-menu-nav {
        float: right;
        padding: 0px;
        position: fixed;
        top: 100px;
        left: 0;
        z-index: 9;
    }

    .return-link {
        width: 100%;
        text-align: center;
        margin-top: 25px;
        font-weight: bold;
    }

    #profile-top-header {
        margin-bottom: 25px;
        display: inline-block;
        width: 100%;
    }

    #operator-basic-info, #awards-holder, #reviews-holder {
        margin-top: 50px;
    }

    #footer-menu { text-align: center; }
    #footer-menu a {
        margin-top: 0px;
        padding: 6px;
        font-size: 15px;
        display: inline-block;
    }

    #mainNavMenu {
        box-shadow: 0px 8px 10px #ccc;
    }

    #menu-main-menu {
        float: left;
        padding: 0px;
        line-height: 50px;
    }

    .menu-item { width: 100%; }

    #menu-main-menu li:nth-child(odd) {
        background: #f6f6f6;
        border-bottom: 1px solid #eee;
    }

    #filter-wrapper {
        height: 0;
        overflow: hidden;
        width: 100%;
        margin-top: 10px;
    }

    #filter-wrapper.expand {
        height: 100%;
    }

    #filter-expand-head {
        background: #40251A;
        display: inline-block;
        width: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        font-weight: bold;
    }

    .toggle-icon.hide { display: none; }
    .award-icon-instance, .review-icon-instance {
        margin-bottom: 30px;
    }
}